<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>local_file_display</servlet-name>
        <servlet-class>com.appsnan.local_file_display</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>local_file_display_from_line</servlet-name>
        <servlet-class>com.appsnan.local_file_display_from_line</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>local_file_display_from_line_to_line</servlet-name>
        <servlet-class>com.appsnan.local_file_display_from_line_to_line</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>os_command_run</servlet-name>
        <servlet-class>com.appsnan.os_command_run</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>local_file_display_new_lines</servlet-name>
        <servlet-class>com.appsnan.local_file_display_new_lines</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>local_file_linepos_forget</servlet-name>
        <servlet-class>com.appsnan.local_file_linepos_forget</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>local_file_display</servlet-name>
        <url-pattern>/local_file_display</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>local_file_display_from_line</servlet-name>
        <url-pattern>/local_file_display_from_line</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>local_file_display_from_line_to_line</servlet-name>
        <url-pattern>/local_file_display_from_line_to_line</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>os_command_run</servlet-name>
        <url-pattern>/os_command_run</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>local_file_display_new_lines</servlet-name>
        <url-pattern>/local_file_display_new_lines</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>local_file_linepos_forget</servlet-name>
        <url-pattern>/local_file_linepos_forget</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
